extends layouts/layout
block main
    include blocks/blk-pagination
    // END : BLK PAGINATION
    include blocks/blk-profile
    // END : BLK PROFILE
    include blocks/blk-design
    // END : BLK DESIGN
    include blocks/blk-content
    // END : BLK CONTENT
    include blocks/blk-tech
    // END : BLK TECH
    include blocks/blk-validation
    // END : BLK VALIDATION