.blk-pagination.blk-page
    a(href="javascript:;", class="a_system")
        img(src="uploads/ico-system.png", alt="")
    .container
        ul.pagi-wrap.clearfix
            li.active
                a(href="#") 
                    span.cir
                    span.txt ETAPE I
            li
                a(href="#") 
                    span.cir
                    span.txt ETAPE II 
            li
                a(href="#") 
                    span.cir
                    span.txt ETAPE III
            li
                a(href="#") 
                    span.cir
                    span.txt ETAPE IV
            li
                a(href="#") 
                    span.cir
                    span.txt ETAPE V
            li
                a(href="#") 
                    span.cir
                    span.txt ETAPE VI