.blk-content#blk-content
    .container
        .blk-title
            h2.lrg-ttl ETAPE III
            h3.sml-ttl CONTENUS
            .desc Qui mieux que vous pour nous donner toutes les choses à connaitre de vous ?!
        // END : BLK TITLE
        form(name="frm-content")
            .content-blk-wrap
                .row
                    .col-md-6.col-sm-6.col-xs-12.col-left
                        .blk-profil
                            h3.profil-ttl vos COORDONNÉES
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.txt Nom entreprise :
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.txt Email  
                                        span (pour formulaire de contact) :
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.txt Adresse :
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child.empty &nbsp;
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    .row
                                        .col-xs-6
                                            input(type="text", class="ipt-txt w100")
                                        // END : COL
                                        .col-xs-6
                                            input(type="text", class="ipt-txt w100")
                                        // END : COL
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.txt Téléphone Fixe :
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.txt Téléphone Portable :
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                    // END: COL
                    .col-md-6.col-sm-6.col-xs-12.col-right
                        .blk-profil
                            h3.profil-ttl vos RÉSEAUX SOCIAUX
                                span (Liens url) 
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-4.col-sm-4.col-xs-12.col-child
                                    span.txt Facebook :
                                // END : COL
                                .col-md-8.col-sm-8.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-4.col-sm-4.col-xs-12.col-child
                                    span.txt Twitter :
                                // END : COL
                                .col-md-8.col-sm-8.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-4.col-sm-4.col-xs-12.col-child
                                    span.txt LinkedIn :
                                // END : COL
                                .col-md-8.col-sm-8.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-4.col-sm-4.col-xs-12.col-child
                                    span.txt Instagram :
                                // END : COL
                                .col-md-8.col-sm-8.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-4.col-sm-4.col-xs-12.col-child
                                    span.txt Pinterest :
                                // END : COL
                                .col-md-8.col-sm-8.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-4.col-sm-4.col-xs-12.col-child
                                    span.txt YouTube :
                                // END : COL
                                .col-md-8.col-sm-8.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                    // END : COL
                    .col-xs-12.col-download
                        .blk-profil
                            h3.profil-ttl vos CONTENUS DU SITE
                        // END : BLK
                        .blk-profil-grp 
                            .row
                                .col-md-6.col-sm-6.col-xs-12.col-left
                                    .blk-profil.grp-download
                                        .row
                                            .col-md-3.col-sm-3.col-xs-3.down-ttl HOME PAGE :
                                            // END: COL
                                            .col-md-4.col-sm-4.col-xs-4.down-col
                                                span.txt Texte (word / pdf)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                //- a(href="#", class="a_download") DOWNLOAD
                                            // END: COL
                                            .col-md-5.col-sm-5.col-xs-5.down-col.text-right
                                                span.txt Images (.zip / HD)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                i.ico-info
                                            // END: COL
                                    // END : BLK
                                    .blk-profil.grp-download
                                        .row
                                            .col-md-3.col-sm-3.col-xs-3.down-ttl À PROPOS :
                                            // END: COL
                                            .col-md-4.col-sm-4.col-xs-4.down-col
                                                span.txt Texte (word / pdf)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                            // END: COL
                                            .col-md-5.col-sm-5.col-xs-5.down-col.text-right
                                                span.txt Images (.zip / HD)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                i.ico-info
                                            // END: COL
                                    // END : BLK
                                    .blk-profil.grp-download
                                        .row
                                            .col-md-3.col-sm-3.col-xs-3.down-ttl PRESTATIONS :
                                            // END: COL
                                            .col-md-4.col-sm-4.col-xs-4.down-col
                                                span.txt Texte (word / pdf)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                            // END: COL
                                            .col-md-5.col-sm-5.col-xs-5.down-col.text-right
                                                span.txt Images (.zip / HD)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                i.ico-info
                                            // END: COL
                                    // END : BLK
                                // END : COL
                                .col-md-6.col-sm-6.col-xs-12.col-right
                                    .blk-profil.grp-download
                                        .row
                                            .col-md-3.col-sm-3.col-xs-3.down-ttl GALERIE :
                                            // END: COL
                                            .col-md-4.col-sm-4.col-xs-4.down-col
                                                span.txt Texte (word / pdf)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                            // END: COL
                                            .col-md-5.col-sm-5.col-xs-5.down-col.text-right
                                                span.txt Images (.zip / HD)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                i.ico-info
                                            // END: COL
                                    // END : BLK
                                    .blk-profil.grp-download
                                        .row
                                            .col-md-3.col-sm-3.col-xs-3.down-ttl CONTACT : 
                                            // END: COL
                                            .col-md-4.col-sm-4.col-xs-4.down-col
                                                span.txt Texte (word / pdf)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                            // END: COL
                                            .col-md-5.col-sm-5.col-xs-5.down-col.text-right
                                                span.txt Images (.zip / HD)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                i.ico-info
                                            // END: COL
                                    // END : BLK
                                    .blk-profil.grp-download.grp-down-logo
                                        .row
                                            .col-md-6.col-sm-6.col-xs-12.down-ttl LOGO / ICONES / ÉLÉMENTS GRAPHIQUES :
                                            // END: COL
                                            .col-md-6.col-sm-6.col-xs-12.down-col.text-right
                                                span.txt Dossier .Zip (.png / .ai)
                                                span.fileUpload
                                                    span UPLOAD
                                                    span(style="height: 0px; width: 0px; overflow: hidden;")
                                                        input(type='file', name="download", class="fileToUpload")
                                                i.ico-info
                                            // END: COL
                                    // END : BLK
                                // END : COL
                        // END : GROUP
            // END : WRAP
            .profile-btn
                .row
                    .col-xs-6.text-left
                        a(href="#")
                            span.ico <
                            span.txt RETOUR
                    // END : COL
                    .col-xs-6.text-right
                        a(href="#")
                            span.txt ÉTAPE VALIDÉE
                    // END : COL
            // END : BUTTON
