.blk-banner
    .banner-img 
        img(src="uploads/home_banner.jpg", alt="")
    // Banner for mobile
    .banner-content
        .banner-logo
            a(href="#")
                img(src="uploads/logo_slider.png", alt="")
        .desc 
            span EN 5 ÉTAPES SANS BLABLA ET SANS CHICHIS 
            span VOUS IMAGINEZ VOTRE SITE ET NOUS LE CRÉONS !
    a(href="javascript:;").scroll-down
        span