.blk-content#blk-tech
    .container
        .blk-title
            h2.lrg-ttl ETAPE VI
            h3.sml-ttl TECHNIQUE ET SEO
            .desc N’ayez crainte les termes peuvent faire peur comme ça mais rien d’insurmontable !!
        // END : BLK TITLE
        form(name="frm-tech")
            .tech-wrap
                .row
                    .col-md-6.col-sm-6.col-xs-12.col-left
                        .blk-profil
                            h3.profil-ttl VOTRE NOM DE DOMAINE 
                        // END : BLK
                        .blk-profil Si vous possédez déjà un Nom De Domaine (NDD), merci de l’indiquer ici :
                        // END : BLK
                        .blk-profil 
                            input(type="text", class="ipt-txt")
                        // END : BLK
                        .blk-profil.sml 
                            span Dans le cas inverse, l’achat du NDD n’est pas compris dans notre offre 
                            span mais nous pouvons vous guider dans cette démarche
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.txt Control Panel (url) :
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.empty &nbsp;
                                    span.txt > Identifiant : 
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil 
                            .row
                                .col-md-5.col-sm-5.col-xs-12.col-child
                                    span.empty &nbsp;
                                    span.txt > Mot de passe : 
                                // END : COL
                                .col-md-7.col-sm-7.col-xs-12.col-child
                                    input(type="text", class="ipt-txt w100")
                                // END : COL
                        // END : BLK
                        .blk-profil.sml.cl-green L’hébergement de votre site ainsi que sa maintenance sont compris dans notre offre pour la première année.
                        // END : BLK
                    // END: COL
                    .col-md-6.col-sm-6.col-xs-12.col-right
                        .blk-profil
                            h3.profil-ttl VOTRE RÉFÉRENCEMENT NATUREL
                        // END : BLK
                        .blk-profil-grp
                            .blk-profil Si vous possedez un compte Google My Business:
                            // END : BLK
                            .blk-profil 
                                .row
                                    .col-md-5.col-sm-5.col-xs-12.col-child
                                        span.empty &nbsp;
                                        span.txt > Identifiant : 
                                    // END : COL
                                    .col-md-7.col-sm-7.col-xs-12.col-child
                                        input(type="text", class="ipt-txt w100")
                                    // END : COL
                            // END : BLK
                            .blk-profil 
                                .row
                                    .col-md-5.col-sm-5.col-xs-12.col-child
                                        span.empty &nbsp;
                                        span.txt > Mot de passe : 
                                    // END : COL
                                    .col-md-7.col-sm-7.col-xs-12.col-child
                                        input(type="text", class="ipt-txt w100")
                                    // END : COL
                            // END : BLK
                        // END : GROUP
                        .blk-profil-grp
                            .blk-profil Si vous possedez un compte Google Analytics:
                            // END : BLK
                            .blk-profil 
                                .row
                                    .col-md-5.col-sm-5.col-xs-12.col-child
                                        span.empty &nbsp;
                                        span.txt > Identifiant : 
                                    // END : COL
                                    .col-md-7.col-sm-7.col-xs-12.col-child
                                        input(type="text", class="ipt-txt w100")
                                    // END : COL
                            // END : BLK
                            .blk-profil 
                                .row
                                    .col-md-5.col-sm-5.col-xs-12.col-child
                                        span.empty &nbsp;
                                        span.txt > Mot de passe : 
                                    // END : COL
                                    .col-md-7.col-sm-7.col-xs-12.col-child
                                        input(type="text", class="ipt-txt w100")
                                    // END : COL
                            // END : BLK
                        // END : GROUP
                        .blk-profil.sml.cl-green
                            span Aucune donnée personnelle ou sensible ne sera utilisée ou modifiée 
                            span Cet accès est purement à titre informatif pour évaluer les performances de votre activité
                        // END : BLK
                    // END: COL
            .profile-btn
                .row
                    .col-xs-6.text-left
                        a(href="#")
                            span.ico <
                            span.txt RETOUR
                    // END : COL
                    .col-xs-6.text-right
                        a(href="#")
                            span.txt ÉTAPE VALIDÉE
                    // END : COL
            // END : BUTTON
